<div class="container app-container">
  <div class="row header-container">
    <div class="header-wrapper">
      <h2 class="text-center">Progress Bars</h2>
    </div>
  </div>
  <div class="row progress-bar-wrapper">
    <div *ngFor="let progressBar of pBarValuePair ; let i=index">
      <progress-bar [barCount]="progressBar.value" [limit]="progressBars.limit"></progress-bar>
    </div>
  </div>
  <div class="row button-container">
    <div class="col-sm-4 col-xs-12">
      <select (change)="selectedProgressBar($event)" class="form-control">
        <option *ngFor="let progress of progressBars.bars ; let i=index" value="{{i}}">Progress Bar #{{i+1}}</option>
      </select>
    </div>
    <div class="col-sm-8 col-xs-12 range-container">
      <div class="btn-group btn-group-justified">
        <a *ngFor="let button of progressBars.buttons ; let i=index" href="#" class="btn btn-primary"
          (click)="btnOnClick($event, button)">{{button}}</a>
      </div>
    </div>
  </div>
</div>